
body{
	margin:0 auto;
	padding:0;
}

#container {
 width: 90%;
 margin: 0 auto;
}

.text{
  font-family: 'Roboto', serif;
  line-height: 120%;
}
h1, h2, h3{
  font-family: 'Montserrat', serif;
  text-align: center;
}
#title {
  text-align: center;
  color: #782;
  text-shadow: 0px 0px 1px #333;
}

#calculator_container{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
   justify-content: center;
   align-items: center;
   align-content: space-around;
    background-color:#445878;
    margin:20px auto;
    width:680px;
    padding:20px;
    border: 2px solid #1C1D21;
}

.boxg{
flex-grow: 1;
}

.button_grid{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
}

#calculator_container button{
  padding:10px;
  margin:10px;
  width:50px;
  height:50px;
}


input{
    padding: 9px;
    border: solid 1px #1C1D21;
    outline: 0;
    font-family: Verdana, Tahoma, sans-serif;
    font-size:13px;
    background: #FFFFFF;
    text-align:right;
}

input:hover,.preview-block input:focus{
    border-color: #31353D;
}


.button_grid [data-value]:before{
	content:attr(data-value);
}

.button_grid button, .display button{
  background: #445878;
background-image: linear-gradient(to bottom, #445878, #445878);
  border-radius: 13px;
  color: #EEEFF7;
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: none;
}

.button_grid button:hover, .display button:hover {
  background: #31353D;
  text-decoration: none;
}
